$mainColor: rgb(112, 74, 74);

@mixin link ($link, $hover, $active, $visited) {
    a {
        text-decoration: none;

        color: $link;

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }

        &:visited {
            color: $visited;
        }
    }
}

.header {
    background: $mainColor;
    display: flex;
    align-items: center;

    &__logo {
        width: 80px;
        padding: 10px;
    }

    &__nav {
        width: 600px;
        display: flex;
        justify-content: space-between;
        color: azure;
        font-family: Arial, Helvetica, sans-serif;
        list-style-type: none;
    }

    &__link {

        @include link(rgb(223, 211, 211), rgb(121, 63, 63), rgb(250, 211, 211), rgb(138, 117, 117))
    }
}